<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="">
        <label for="text1">Label 1: </label>
        <input type="text" id="text1" name="label1"><br>
        <br>
        <label for="text2">Label 2:</label><br>
        <input type="text" id="text2" name="label2" placeholder="lorem ipsum dolor amet"><br>
        <p><input type="submit" value="Submit"></p>
        <label for="">Password:</label>
        <input type="password" placeholder="input your password" size="60"><br>
        <p><label for="labelradio">Label for Radio Button</label></p>
        <p><input type="radio" name="age" id="labelradio" value="Below 18">Below 18</p>
        <p><input type="radio" name="age" id="labelradio" value="18">18</p>
        <p><input type="radio" name="age" id="labelradio" value="Above 18">Above 18</p>
        <p><label for="">Label for Checkbox:</label></p>
        <input type="checkbox" name="" id=""><br>
        <input type="checkbox" name="" id=""><br>
        <input type="checkbox" name="" id=""><br>
        <input type="checkbox" name="" id=""><br>

    </form>
</body>
</html>